In [8]:
text = "pakistan zindabad"
pattern = "Zindabad"
re.findall(pattern,text,re.IGNORECASE)

['zindabad']

In [11]:
import pandas as pd
import re

In [13]:
text = """
Pakistan is a most beauty full country!
this is a notebook,
I'm at office!
paik hellow.
"""
display(text)
pattern = r"\bP.*n\b"
re.findall(pattern, text)

"\nPakistan is a most beauty full country!\nthis is a notebook,\nI'm at office!\npaik hellow.\n"

['Pakistan']

In [31]:
text1 = """Images that are generated by a computer are called computer graphics. Examples are photographs,
drawings, line art, mathematical graphs, line graphs, charts, diagrams, typography, numbers, symbols,
geometric designs, maps, engineering drawings, or other images. Graphics often combine text,
illustration, and color.
"""
pattern = r"\bI.*s\b"
re.findall(pattern,text1)

['Images that are generated by a computer are called computer graphics. Examples are photographs']

In [21]:
text = """12:05:40 From Ali Asar To Everyone : PIAIC-187258
12:05:41 From Hasnain Munir To Everyone : PIAIC-187272
12:05:44 From Shaheer Baig To Everyone : PIAIC-169519
12:05:45 From Humera Naz To Everyone : PIAIC-173431
12:05:47 From Sadia Anwar To Everyone : PIAIC-180028
12:05:47 From Muhammad Mehroz To Everyone : PIAIC-131496
12:05:47 From Home To Everyone : PIAIC-172998
12:05:47 From Muhammad Sadullah = PIAIC-178950 To Everyone : PIAIC-178950
12:05:48 From Muhammad Uzair-177637 To Everyone : PIAIC-177"""

import re
pattern = "(\d{2}:\d{2}:\d{2}) From (.*) To Everyone : (PIAIC ?-?\d{3,6})"
I = re.findall(pattern, text)
I

[('12:05:40', 'Ali Asar', 'PIAIC-187258'),
 ('12:05:41', 'Hasnain Munir', 'PIAIC-187272'),
 ('12:05:44', 'Shaheer Baig', 'PIAIC-169519'),
 ('12:05:45', 'Humera Naz', 'PIAIC-173431'),
 ('12:05:47', 'Sadia Anwar', 'PIAIC-180028'),
 ('12:05:47', 'Muhammad Mehroz', 'PIAIC-131496'),
 ('12:05:47', 'Home', 'PIAIC-172998'),
 ('12:05:47', 'Muhammad Sadullah = PIAIC-178950', 'PIAIC-178950'),
 ('12:05:48', 'Muhammad Uzair-177637', 'PIAIC-177')]

In [17]:
df = pd.DataFrame(I, columns=["Time","Name","Roll No"])
df

       Time                              Name       Roll No
0  12:05:40                          Ali Asar  PIAIC-187258
1  12:05:41                     Hasnain Munir  PIAIC-187272
2  12:05:44                      Shaheer Baig  PIAIC-169519
3  12:05:45                        Humera Naz  PIAIC-173431
4  12:05:47                       Sadia Anwar  PIAIC-180028
5  12:05:47                   Muhammad Mehroz  PIAIC-131496
6  12:05:47                              Home  PIAIC-172998
7  12:05:47  Muhammad Sadullah = PIAIC-178950  PIAIC-178950
8  12:05:48             Muhammad Uzair-177637     PIAIC-177

In [15]:
user = input("Enter user name \t")
password = input("Enter your Password \t")
otp = input("enter OTP")

if user=="admin" and password=="admin123" and otp=="123" :
    print("welcom")
else:
    print("Invalid user and password")

Enter user name 	 admin
Enter your Password 	 admin
enter OTP 123

Invalid user and password

In [29]:
user = input("Enter User Name")
if user == "admin":
    print("Valid user")
    password = input("Enter pasword")
    if password == "admin123":
        print("Valid password")
        print("Welcome")
    else:
        print("invalid password")
else:
    print("Invalid user")

Enter User Name admin

Valid user

Enter pasword admin123

Valid password
Welcome

In [69]:
user = input("Enter your Email")
if user == "admin":
    print("Valid User")
    password = input("Enter your password")
    if password == "admin123":
        print("Valid Password")
        print("7637")
        code = input("Enter code")
        if code == "7637":
            print("Done")
            print("Welcome")
            user_name = input("Enter your full name")
            phone_number = input("Enter your phone number")
            Address = input("Enter your address")
            email = input("Enter your email
        else:
            print("2323")
            code2 = input("Re-enter code")
            if code2 == "2323":
                print("Welcome")
            else:
                print("Your Ip address is blocked")
                print("Contact for help 0938388273")
    else:
        print("Invalid password")
else:
    print("Invalid User")

Enter your Email siyam

Invalid User

In [16]:
counter = 10
while counter > 0:
    print(counter)
    counter -= 1

10
9
8
7
6
5
4
3
2
1

In [10]:
counter = 1 #counter
while counter < 100: #logic
    print(counter)
    if counter ==6: #increament
        break
    counter += 8 #steps

1
9
17
25
33
41
49
57
65
73
81
89
97

In [11]:
counter = 0
while counter < 100:
    print(counter)
    if counter == 10:
        break
    counter += 1

0
1
2
3
4
5
6
7
8
9
10